<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="panel_2m_1m_solid" params="prefix">
    <!-- link list -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://twc_support/CAD/fence/panel_2m_1m_solid/urdf/visual/base_link.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://twc_support/CAD/fence/panel_2m_1m_solid/urdf/visual/base_link.dae" />
        </geometry>
      </collision>
    </link>
    <link name="${prefix}tool0" />

    <joint name="${prefix}joint_1" type="fixed">
      <origin xyz="1.0 0 0" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}tool0" />
    </joint>
  </xacro:macro>
</robot>
