<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="ati_qc110f" params="prefix">
    <!-- link list -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://twc_support/CAD/eoat/ati_qc110f/urdf/visual/base_link.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://twc_support/CAD/eoat/ati_qc110f/urdf/visual/base_link.dae" />
        </geometry>
      </collision>
    </link>
    <link name="${prefix}tool0"/>
    <!-- end of link list -->

    <!-- joint list -->
    <joint name="${prefix}base_link_tool0" type="fixed">
      <origin xyz="0 0 0.03754" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}tool0" />
    </joint>
    <!-- end of joint list -->
  </xacro:macro>
</robot>
